<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>maycat</title>
</head>
<body>
  
<div id="about">
  <div id="title">
    <span id="title_content">MIABE</span>
  </div>
  <div id="Novigation_Bar">
    <div class="novigation"><a href="#">ABOUT</a></div>
    <div class="novigation"><a href="#">QNA</a></div>
    <div class="novigation"><a href="#">GALLER</a></div>
    <div class="novigation"><a href="#">SHOPPING GUIDE</a></div>
  </div>
  <div id="content">
    <div class="doll">
    </div>
  </div>
</div>
  
</body>
</html>
